body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#DFF6FF;
}
      
hr{
    font-family: Arial, Helvetica, sans-serif;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;   
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #1363DF;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #1363DF;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #1363DF;
}

a{
    text-decoration: underline;
}

p {
    display: flex;
    justify-content: space-between;
  }

iframe{
    
}